---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #12325c, #12325c);
  height: 100vh;
};

.logo {
  background: url(http://i.imgur.com/AhgxHcg.png) no-repeat;
  background-size: 100%;
  width: 70%;
  height: 250px;
};

body {
  background-image: linear-gradient(120deg, #11325b, #ede0ca);
};
