---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #12325c, #12325c);
  height: 100vh;
  padding-top: 16%;
  width: 100%;
};

.logo {
  background: url(http://i.imgur.com/AhgxHcg.png) no-repeat center center;
  background-size: 100%;
  height: 250px;
  width: 75%;
  margin:0px auto;
};

.project-tagline {
  width 70%;
};

body {
  background-image: linear-gradient(120deg, #12325c, #ede0ca);
};
