---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #12325c, #12325c);
  height: 100vh;
  padding-top: 12%;
};

.logo {
  background: url(http://i.imgur.com/AhgxHcg.png) no-repeat center center;
  background-size: 100%;
  height: 250px;
  width: 75%;
  margin:0px auto;
};

.project-tagline {
  width: 65%;
  margin:26px auto 40px auto;
  font-style: italic;
  font-size: 16px;
};

body {
  background-image: linear-gradient(120deg, #12325c, #ede0ca);
};

.main-content {
  color: #12325c;
};

.main-content h1,
.main-content h2,
.main-content h3 {
  font-weight: bold;
  color: #12325c;
};

@media screen and (min-width: 64em)
.main-content img {
  padding: none;
}
